body {
  margin: 0;
  background: lightgray;
}

.title {
  margin: 0;
  padding: 10px 8px 10px;
  background: white;
}

.item {
  padding: 0 0px 10px;
  font-size: large;
}

.notes {
  font-size: small;
  padding: 0 10px;
}
