/* Colors */
/*
  White:       white
  Light gray:  #ddd
  Middle gray: #a0a0a0
  Gray:        gray
  Black:       #2c2c2c
  Green:       #5a8c55
*/
.text-light-gray {
  color: #ddd;
}

.background-light-gray {
  background-color: #ddd;
}

.text-middle-gray {
  color: #a0a0a0;
}

.text-black {
  color: #2c2c2c;
}

.background-black {
  background-color: #2c2c2c;
}

.text-green {
  color: #5a8c55;
}

.background-green {
  background-color: #5a8c55;
}

.darker-section {
  color: #2c2c2c;
  background-color: #ddd;
}

.lighter-section {
  color: #2c2c2c;
  background-color: white;
}


/* Sizing */
nav,
header,
section,
footer,
aside,
article,
div,
p,
figure,
address,
img {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
ul {
  margin: 0;
  padding: 0;
}

.darker-section,
.lighter-section {
  padding: 15px 40px;
}


/* General */
body {
  font-family: 'Muli', sans-serif;
  text-align: justify;
}

.section-title {
  margin: 0 0 20px;
  color: #2c2c2c;
}

article {
  margin: 0 0 15px;
  line-height: 1.3;
}

article:last-child {
  margin: 0;
}

.name-entry {
  color: #5a8c55;
  text-decoration: none;
}

.location-entry {
  float: right;
}


/* Header */
.owner-header {
  position: fixed;
  padding: 30px 40px 10px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.owner-header .header-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 0 150px 15px 0;
}

.owner-header .owner-role {
  margin: 5px 0 0;
}

.owner-header .owner-photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #2c2c2c;
  border: 3px solid #5a8c55;
}

.owner-header .menu li {
  display: inline;
  margin: 0 7px 0 0;
  padding: 0 7px 0 0;
  border: 0 solid white;
  border-width: 0 2px 0 0;
}

.owner-header .menu li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.owner-header .menu .menu-item {
  color: white;
  text-decoration: none;
}

.owner-header .menu .menu-item:hover {
  color: #5a8c55;
}


/* Welcome */
#welcome {
  padding: 144px 40px 15px;
}

#welcome .owner-welcome {
  margin: 15px 0 0;
  font-style: italic;
}


/* Education */
#education .online-classes {
  color: gray;
  margin: 30px 0 15px;
}


/* Skills */
#skills .skill-container {
  position: relative;
  color: #2c2c2c;
  margin: 0 0 10px;
}

#skills .skill-container:last-child {
  margin: 0;
}

#skills .skill-container,
#skills .skill-container .skill-entry {
  width: 600px;
}

#skills .skill-container .skill-entry {
  padding: 8px 15px;
}

#skills .skill-container .score-entry {
  float: right;
}

#skills .skill-entry-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  overflow: hidden;
  background-color: #5a8c55;
  color: #ddd;
}

#skills .skill-score {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border: 0 solid white;
  opacity: 0.35;
  border-width: 0 1px 0 0;
}

#skills .score-1 {
  width: 20%;
}

#skills .score-2 {
  width: 40%;
}

#skills .score-3 {
  width: 60%;
}

#skills .score-4 {
  width: 80%;
}

#skills .score-5 {
  width: 100%;
  border-width: 0;
}


/* Projects */
#projects .project-images {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#projects .image-container {
  padding: 10px 10px 0 0;
  max-width: 300px;
}

#projects .image-entry {
  width: 100%;
}


/* Map */
#map #google-map {
  height: 500px;
  border: 2px solid #5a8c55;
}


/* Contact */
#contact {
  background-color: #5a8c55;
  padding: 15px 0 0;
}

#contact .section-title {
  text-align: center;
  color: white;
}

#contact .contact-entries {
  padding: 15px 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  color: #5a8c55;
  background-color: #2c2c2c;
}

#contact .contact-entries li {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#contact .contact-entries .label {
  color: white;
}


/* Media queries */
@media screen and (min-width: 1100px) {
  /* General */
  .darker-section,
  .lighter-section {
    padding: 15px calc(40px + (100vw - 1100px) / 2);
  }


  /* Header */
  .owner-header {
    padding: 30px calc(40px + (100vw - 1100px) / 2) 10px;
  }

  .owner-header .owner-photo {
    right: calc((100vw - 1100px) / 2);
  }


  /* Welcome */
  #welcome {
    padding: 135px calc(40px + (100vw - 1100px) / 2) 15px;
  }


  /* Contact */
  #contact .contact-entries {
    padding: 15px calc(40px + (100vw - 1100px) / 2);
  }
}

@media screen and (max-width: 840px) {
  /* General */
  .section-title {
    font-size: 1.35em;
  }

  article {
    font-size: 0.9em;
  }


  /* Header */
  .owner-header .header-text {
    font-size: 0.92em;
    margin: 0 150px 45px 0;
  }

  .owner-header .owner-photo {
    top: 15px;
    right: 15px;
    width: 120px;
    height: 120px;
  }

  .owner-header .menu {
    font-size: 0.8em;
  }

  .owner-header .menu li {
    margin: 0 12px 0 0;
    padding: 0 12px 0 0;
  }


  /* Welcome */
  #welcome {
    padding: 154px 40px 15px;
  }


  /* Skills */
  #skills .skill-container,
  #skills .skill-container .skill-entry {
    width: calc(70vw);
  }


  /* Contact */
  #contact .contact-entries li {
    font-size: 0.85em;
  }
}
